/* NOTE: THIS IS FOR THE HOME PAGE */

.root {
    -fx-background-color: linear-gradient(to bottom, #fc83ca, white);
}

.stack-pane {
    -fx-alignment: CENTER;
}

.label-title {
    -fx-text-fill: #cc0000;
    -fx-font-size: 48px;
}

.button {
    -fx-font-size: 16px;
    -fx-background-color: salmon;
    -fx-text-fill: white;
    -fx-min-height: 40px;
}

.button:hover {
    -fx-background-color: #ff69a2;
}